@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-white;
}
.bg-primary {
    @apply bg-lime-500;
}

.smooth {
    @apply transform duration-150;
}

.bg-secondary {
    @apply bg-cyan-500;
}

.btn-primary {
    @apply bg-primary smooth p-2 rounded-lg hover:bg-lime-400 hover:-translate-y-0.5;
}

.btn-secondary {
    @apply bg-secondary smooth p-2 rounded-lg hover:bg-cyan-400 hover:-translate-y-0.5;
}

.signup {
    @apply w-full h-full flex flex-col gap-4 justify-center items-center;
}

form {
    @apply flex flex-col gap-4 w-3/12;
}

input[type=text] {
    @apply bg-transparent border-b-2 px-2 outline-none focus:border-b-lime-500 smooth text-white w-full;
}
input[type=password] {
    @apply bg-transparent border-b-2 px-2 outline-none focus:border-b-lime-500 smooth text-white w-full;
}
input[type=email] {
    @apply bg-transparent border-b-2 px-2 outline-none focus:border-b-lime-500 smooth text-white w-full;
}
input[type=tel] {
    @apply bg-transparent border-b-2 px-2 outline-none focus:border-b-lime-500 smooth text-white w-full;
}



/* ----
    Animations
  ---- */

  .fadeInRight {
    animation: fadeInRight 1s;
  }
  @keyframes fadeInRight {
    0% {
      opacity: 0;
      transform: translateX(50px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  .fadeInLeft {
    animation: fadeInLeft 1s;
  }
  @keyframes fadeInLeft {
    0% {
      opacity: 0;
      transform: translateX(-50px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  .fadeInTop {
    animation: fadeInTop 1s;
  }
  @keyframes fadeInTop {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .fadeInBottom {
    animation: fadeInBottom 1s;
  }
  @keyframes fadeInBottom {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .fadeIn {
    animation: fadeIn 1s ease-in-out;
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: scale(0.8);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }


  /* ----
    Animations - end
  ---- */

  .navbtn {
    @apply w-10 h-10 bg-white text-black rounded-lg mx-auto flex justify-center items-center;
  }

  .statcards {
    @apply w-[22.5rem] px-6 py-8 bg-white !text-black rounded-lg text-2xl flex items-center justify-around shadow-lg shadow-black;
  }
  .statnum {
    @apply bg-gray-300 rounded-lg p-4;
  }

  .statcont {
    @apply flex items-center gap-4;
  }